/* === Imports === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* === root === */
:root {
    --color_0: 255,255,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 0,0,0;
    --color_12: 153,153,151;
    --color_13: 199,199,199;
    --color_14: 232,230,230;
    --color_15: 255,255,255;
    --color_16: 29,77,45;
    --color_17: 59,154,90;
    --color_18: 88,231,135;
    --color_19: 165,239,189;
    --color_20: 196,247,213;
    --color_21: 11,19,33;
    --color_22: 52,61,77;
    --color_23: 95,105,122;
    --color_24: 139,149,166;
    --color_25: 183,193,211;
    --color_26: 30,33,73;
    --color_27: 60,67,147;
    --color_28: 90,100,220;
    --color_29: 163,168,232;
    --color_30: 195,199,243;
    --color_31: 73,30,66;
    --color_32: 147,60,132;
    --color_33: 220,90,198;
    --color_34: 232,163,220;
    --color_35: 243,195,235;
    --font_0: poppins,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
}

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font_0);
}

p {
    font-weight: 300;
    font-size: calc(16px + (18 - 16) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
}

p, span, a {
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.6;
  min-height: 0vw;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  line-height: 1;
  min-height: 0vw;
}

h1 {
    font-size: calc(40px + (88 - 40) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
}

h2 {
  font-size: calc(22px + (32 - 22) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
}

h3 {
  font-size: calc(22px + (32 - 22) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
}

section {
  position: relative;
  height: 100vh;
}

/* === Struktur === */
.wrapper {
  width: calc(100% - 200px);
  height: 100%;
  margin: auto;
}

.absolute {
  position: absolute;
}

.centered-text {
  text-align: center;
}

/* === Buttons === */
.button {
  padding: 14px 32px;
  color: rgba(var(--color_0));
  border: 1px solid rgba(var(--color_0));
}

.button_dark {
  padding: 14px 32px;
  color: rgba(var(--color_2));
  border: 1px solid rgba(var(--color_2));
}
